*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(eduford_img/banner.png);
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(eduford_img/banner.png); */
    background-position: center;
    background-size: cover;
    position: relative; 
}
nav{
    display: flex;
    padding:2% 04%;
    justify-content: space-between;
}
nav img {
    width: 150px;
}
.header div ul{
    display: flex;
    column-gap: 30px;
    list-style-type: none;
    
}
.header div ul li{
    position: relative;
}
.header div ul li::after{
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    height: 3px;
    content: '';
    width: 0%;
    background-color: rgb(239, 181, 5);
    /* transform: translate(-50%,-50%); */
    transition: 0.5s;
    margin-top: 510px;
    /* transform: translate(-50%,-50%); */
}
.header div ul li:hover::after{
    width: 100%;
}
.header div ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}



/* for the mobail display */
@media (min-width: 0px) and (max-width: 375px){
    .header div ul li a{
        font-size: xx-large;
        color: blueviolet;
    }
}