*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(eduford_img/banner.png);
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(eduford_img/banner.png); */
    background-position: center;
    background-size: cover;
    position: relative; 
}
nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    font-size: 14px;
    margin: 10px 0 40px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    font-size: 18px;
    transition: 1s;
}
.hero-btn:hover{
    border-color: #f44336;
    background-color: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
/* @media(max-width : 375px){
    body{
        width: 100vw;
        height: auto; */

/* for mobail dispaly. */
@media(min-width: 100px) and (max-width: 700px){
    *{
        box-sizing: border-box;
    }

    body{
       width: 100vw;
    } 
    .header{
        overflow: hidden;
    }
    .logoimage{
        width: 80px;
    }
    .text-box h1{
        font-size: 30px;
        margin-top: 50px;
    }
    .text-box p{
        font-size: 15px;
        line-height: 30px;
        /* font-weight: 70; */
        color: rgb(227, 225, 225);
        margin-bottom: 0%;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 50%;
        top: 0;
        right: -500px;
        text-align:left;
        display: block;
        transition: 0.5s;
        /* overflow: hidden; */

        z-index: 2;
        /* transition:5s; */
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .hero-btn{
        font-size: 10px;
    }
}

                /* courses */
 .course{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300px;
    line-height:22px;
    padding: 10px;
}
.row{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-left: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

/* courses for mobail */
@media(min-width: 100px) and (max-width: 700px){
    *{
        box-sizing: border-box;
    }
    .course{
        overflow: hidden;
        width: 100vw;
    }
    .course h1,p{
        margin-right: 10px;
    }
    .row{
        flex-direction: column;
    }
    .facilitiescol1{
        width: 80%;
    }
}

                   /* campus */
 .campus{
    width: 80%;
    
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.campus-col{
    flex-basis: 32%;
    /* height: 90vh; */
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img {
    width: 100%;
    display: block;
}
.layer{
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    color: white;
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.7s;
}

.layer:hover h3{
    opacity: 1;
    bottom: 50%;
}

/*our facilities */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
    /* display: flex; */
    
    /*  */
}
.facilities p{
    text-align: left;
}
.facilitiesrow{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.facilitiescol1{
    width: 31%;

}
.facilitiescol1 img{
    width: 100%;
    display: block;
    border-radius: 10px;
    margin-bottom: 5%;
}

@media(min-width: 100px) and (max-width: 700px){
    .facilitiesrow{
        flex-direction: column;
    }
    .facilitiescol1{
        width: 100%;
        text-align: left;
        margin: 10px;
    }
}













    /*
.column_campus{

    margin: 10px;
    width: 32%;
    height: 70vh;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
} */
