*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(eduford_img/banner.png);
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(eduford_img/banner.png); */
    background-position: center;
    background-size: cover;
    position: relative; 
}
nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    font-size: 14px;
    margin: 10px 0 40px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    font-size: 18px;
    transition: 1s;
}
.hero-btn:hover{
    border-color: #f44336;
    background-color: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}

/* for mobail dispaly. */
@media(max-width: 700px){
    *{
        box-sizing: border-box;
    }

    body{
       width: 100vw;
    } 
    .header{
        overflow: hidden;
    }
    .logoimage{
        width: 80px;
    }
    .text-box h1{
        font-size: 100px;
        margin-top: 20px;
    }
    .text-box p{
        font-size: 20px;
        font-weight: 100;
        color: rgb(227, 225, 225);
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 50%;
        top: 0;
        right: -500px;
        text-align:left;
        display: block;
        transition: 0.5s;
        /* overflow: hidden; */

        z-index: 2;
        /* transition:5s; */
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .hero-btn{
        font-size: 10px;
    }
}

                /* courses */
 .course{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300px;
    line-height:22px;
    padding: 10px;
}
.row{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-left: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

/* courses for mobail */
@media(max-width: 700px){
    .course{
        overflow: hidden;
    }
    .row{
        display:flex;
        flex-direction: column;
    }
}
















/* .header div ul{
    display: flex;
    column-gap: 30px;
    list-style-type: none;   
}
.header div ul li{
    position: relative;
}
.header div ul li::after{
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    height: 3px;
    content: '';
    width: 0%;
    background-color: rgb(239, 181, 5); */
    /* transform: translate(-50%,-50%); */
    /* transition: 0.5s;
    margin-top: 510px; */
    /* transform: translate(-50%,-50%); */
/* }
.header div ul li:hover::after{
    width: 100%;
}
.header div ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
} */



/* for the mobail display */
